html {
  font-size: 16px;
}

body {
  font-size: 1rem;
  font-family: SanFranciscoText;
  text-align: justify;
}

@font-face {
  font-family: "SanFranciscoText";
  src: url("public/fonts/SanFrancisco/SanFranciscoText-Regular.otf")
    format("opentype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  font-family: "SanFranciscoText";
  src: url("public/fonts/SanFrancisco/SanFranciscoText-Bold.otf")
    format("opentype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "SanFranciscoText";
  src: url("public/fonts/SanFrancisco/SanFranciscoText-Italic.otf")
    format("opentype");
  font-weight: normal;
  font-style: italic;
}

@font-face {
  font-family: "SanFranciscoText";
  src: url("public/fonts/SanFrancisco/SanFranciscoText-BoldItalic.otf")
    format("opentype");
  font-weight: bold;
  font-style: italic;
}

.textGray {
  color: #333333;
}

.textLinear--orange {
  background: linear-gradient(270.22deg, #ffaf18 0.09%, #fc7700 98.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

.nav-link.textLinear--orange:hover {
  color: #333333;
  background: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.unsetTextFillColor.textLinear--orange:hover {
  color: #333333;
  background: unset;
  -webkit-background-clip: unset;
  -webkit-text-fill-color: unset;
}

.font18px {
  font-size: 18px;
}

.font24px {
  font-size: 24px;
}

.font48px {
  font-size: 48px;
}

.font32px {
  font-size: 32px;
}

.font72px {
  font-size: 72px;
}

@media (max-width: 480px) {
  .font72px {
    font-size: 36px;
  }
  .font48px {
    font-size: 24px;
  }
  .font32px {
    font-size: 24px;
  }
}

.backgroundCream {
  background: #fff7ea;
}

.backgroundOrangeLinear {
  background: linear-gradient(270.22deg, #ffaf18 0.09%, #fc7700 98.75%);
}

.circleLinear {
  width: 24px;
  height: 24px;
  background: linear-gradient(270.22deg, #ffaf18 0.09%, #fc7700 98.75%);
  border-radius: 99px;
}

.object-fit-cover {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.object-fit-contain {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.maxWidth635px {
  max-width: 635px;
}

body.downloadPage .downloadLink-active {
  font-weight: bold;
  background: linear-gradient(270.22deg, #ffaf18 0.09%, #fc7700 98.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.faqsPage .faqs-link-active {
  font-weight: bold;
  background: linear-gradient(270.22deg, #ffaf18 0.09%, #fc7700 98.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.policyPage .policy-link-active {
  font-weight: bold;
  background: linear-gradient(270.22deg, #ffaf18 0.09%, #fc7700 98.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.termPage .term-link-active {
  font-weight: bold;
  background: linear-gradient(270.22deg, #ffaf18 0.09%, #fc7700 98.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
body.contactPage .contact-link-active {
  font-weight: bold;
  background: linear-gradient(270.22deg, #ffaf18 0.09%, #fc7700 98.75%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
