#headerDropdown-button {
  transition: all 0.3s ease;
}

.header--logo {
  height: 90px
}

.header--logo>img {
  height: 100%;
  object-fit: contain;
}

.nav-link {
  color: #333333;
  line-height: normal;
}

.homePage--banner {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 526px;
  background-image: url(public/images/banner-homePage.png);
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  background-color: gray;
}

.homePage__banner--text {
  color: #FFFFFF;
  text-align: center;
}

.homePage__banner--title {
  font-weight: bold;
}

.btn:hover {
  box-shadow: 0 0 5px orange;
}

.btn:active {
  box-shadow: 0 2px #666;
  transform: translateY(2px);
}

.btn.btnOrange {
  background: linear-gradient(180deg, #FFAF18 0%, #FC7700 100%);
  border-radius: 16px;
  padding: 0.875rem 3rem;
  color: white;
  border: none;
}

.home__dateSice--about--image {
  margin-bottom: -15%;
}

.homePage__downloadNow {
  height: 330px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.homePage__downloadNow--title {
  margin-top: 5rem;
}

.mainFooter {
  height: 255px;
  background: #333333;
}

@media (max-width: 998px) {
  .mainFooter {
    height: auto;
  }
}

.mainFooter__contact {
  margin-top: 2.5rem;
}

.footer__contact--link {
  color: white;
}

.footer__contact--link:hover {
  color: white;
  text-decoration: underline;
}

.mainFooter--socialLink {
  cursor: pointer;
  margin-right: 1rem;
}

.copyright {
  height: 44px;
  background: #FFF7EA;
  color: #333333;
  display: grid;
  place-items: center;
}

/* Copntact us */

.pages--banner {
  height: 405px;
  background-repeat: no-repeat;
  background-position: top center;
  background-size: cover;
  display: grid;
  place-items: center;
}

.contact-us--banner {
  background-image: url('/public/images/banner-contactUs.png');
}

.contact-us--rightCol {
  margin-top: 5rem;
  margin-bottom: 7rem;
}

/* Copntact us */

/* Download */

.download__banner--image {
  position: absolute;
  right: 0;
  top: 0;
}

/* Download */

/* FORM */

.form-control {
  background: #FFF7EA;
  border-radius: 16px;
  height: 64px;
  border: none;
  padding: 1.125rem 1.5rem;
}

/* FORM */

/* FAQS */

.FAQS--banner.pages--banner {
  background-image: url('/public/images/banner-FAQS.png');
}

.FAQS__icon-closeOpen {
  position: absolute;
  left: 0;
  top: 15px;
  transition: transform .2s ease;
  width: 20px;
  height: 20px;
}

.showMinus[aria-expanded="false"] .FAQS__icon-closeOpen {
  background-image: url('/public/icons/ico-plus.svg');
}

.showMinus[aria-expanded="true"] .FAQS__icon-closeOpen {
  background-image: url('/public/icons/ico-minus.svg');
  transform: rotate(180deg);
}

.FAQS__icon--title {
  font-size: 32px;
  margin-left: 2rem;
  font-weight: bold;
}

.FAQS--answer {
  margin-bottom: 2rem;
}

.FAQS__collapseContent {
  margin-left: 2rem;
  padding-bottom: 0.5rem;
}

/* .showMinus[aria-expanded="true"] .openIcon {
  display: none
}

.showMinus[aria-expanded="false"] .closeIcon {
  display: none
} */

/* Policy */

.privacy--banner.pages--banner {
  background-image: url('/public/images/banner-policy.png');
}

.policy-content {
  margin: 7rem 0;
  width: 770px;
}

.term-and-conditions--banner {
  background-image: url('/public/images/banner-term.png');
}
